
<div class="create_tweet">
<%= form_tag '/create' do%>
<%= text_area_tag :content,@content,:size =>"80x4", :placeholder => 'Add your Story Here'%><br>
<%= submit_tag 'Tweet'%>
<%end%>
</div>
<br>
<div class="search">
<%= form_tag '/search',:method => :get do%>
<%= text_area_tag :email,@content,:size =>"80x4", :placeholder => 'Add email Here'%><br>
<%= submit_tag 'search'%>
<%end%>
</div>


<% if @tweet%>
    <ul>
	<% @tweet.each do |tweet|%>
	<li><%= render 'tweet',:tweet=>tweet%></li>
	<%end%>
	</ul>
<%end%>