
<div class="create_tweet">
  <%= form_tag '/create',remote: true do %>
<%= text_area_tag :content,@content,:size =>"80x4", :placeholder => 'Add your Story Here'%><br>
<%= submit_tag 'Tweet'%>
<span id="letter"></span>
<%end%>
</div>
<br>


<div class="search">
<%= form_tag '/search',:method => :get do%>
      <%=   autocomplete_field_tag 'email', '', autocomplete_user_email_path, :size => 20 %>
      <%= submit_tag 'search'%>
<%end%>
</div>




<% if @tweet%>
    <ol>
	<% @tweet.each do |tweet|%>
	<li><%= render 'tweet',:tweet=>tweet%></li>
	<%end%>
	</ol>
<%end%>

