<!DOCTYPE html>
<html>
<head>
  <title>Social</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="left">
  <a href="/"><i class="fa fa-home" aria-hidden="true">Home</i></a>
   </div>
  <div class="mid">
  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  </div>
 
  <div class="right">
    <% if user_signed_in? %>
        <div class="name">
        <%= current_user.name %></div>
        <div class="logout"><%= link_to 'logout', destroy_user_session_path, method: :delete %></div>
        <%else%>
        <a href="/users/sign_in"><i class="fa f-sign-in" aria-hidden="true">Login</i></a>
        <a href="/users/sign_up"><i class="fa fa-user-plus" aria-hidden="true">Signup</i></a>

    <% end %>
  </div>
	
</header>

<section id="mainSection" id="top">
  <aside id="mainAside">
  <% if user_signed_in?%>
  <div class="pankaj">
    <div class="img">
  <img src="https://avatars1.githubusercontent.com/u/25134359?v=3&u=a4831520044d7fe564cc9557f9d0e155dd29bdbe&s=400">
</div>
<div class="follower">
<h4><%= current_user.name%></h4><br>
  <a href="/user"><h4><%= Following.where(:follower_id=>current_user.id).length%> Following</h4></a><br>
  <a href="/user"><h4><%= Following.where(:following_id=>current_user.id).length%> Follower</h4></a><br>
</div>
  </div>
  <%end%>
  </aside>
  <main id="mainMain"><%= yield %></main>
</section>
<footer><div>@copyright</div>
  <% if user_signed_in?%>
<a href="/rate">Rate Me!</a>
<a href="/view_feedback">Already Rated!</a>
<%end%>
</footer>
<div class="floatingTop"><a href="#top" id="toTop">^ </a></div>

</body>
</html>
